    html {
      scroll-behavior: smooth;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #0b182f;
      color: #CCD6f6;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;
      box-sizing: border-box;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #0A192F;
      z-index: 1000;
    }

    .header-left {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: nowrap;
      overflow-x: auto;
    }

    .logo {
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      white-space: nowrap;
    }

    .logo a {
      text-decoration: none;
      color: inherit;
    }

    .nav-links {
      display: flex;
      gap: 20px;
      flex-wrap: nowrap;
    }

    .nav-links a {
      text-decoration: none;
      color: #CCD6f6;
      font-size: 16px;
      white-space: nowrap;
    }

    .right {
      display: flex;
      gap: 15px;
      flex-wrap: nowrap;
    }
    .right a {
      color: #CCD6f6;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .home {
      text-align: center;
      padding: 120px 20px 60px;
    }

    .home h2 {
      font-family: "NTR", sans-serif;
      font-size: 68px;
      margin: 0;
    }

    .home h2 .name {
      color: #64ffDA;
    }

    .home p.small-text {
      font-family: "NTR", sans-serif;
      font-size: 22px;
      color: #8892B0;
      margin-top: -18px;
      line-height: 1.4;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }

    .home .home-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 16px 28px;
      font-size: 18px;
      background-color: #0A192F;
      color: #64ffDA;
      border: 2px solid #64ffDA;
      border-radius: 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      text-decoration: none;
    }

    .home .home-btn:hover {
      background-color: #112240;
      transform: translateY(-2px);
    }


    section {
      padding: 60px 20px;
      max-width: 900px;
      margin: 0 auto;
    }

    section h2 {
      font-family: 'NTR', sans-serif;
      font-size: 32px;
      margin-bottom: 20px;
    }

    section p, section li {
      font-size: 17px;
      color: #8892B0;
      line-height: 1.6;
    }

    section ul {
      list-style: square;
      padding-left: 20px;
    }

    .section-title {
      display: flex;
      align-items: center;
      gap: 25px;
      margin-bottom: 25px;
      white-space: nowrap;
    }

    .section-title h2 {
      margin: 0px;
      font-family: "NTR", sans-serif;
      font-size: 32px;
    }

    .section-title .line {
      width: 350px;
      height: 1px;
      background-color: #1f2a45;
    }

    @media (max-width: 768px) {
    .header {
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 20px;
      padding-bottom: 5px;
    }

    .header-left {
      display: none;
    }

    .nav-links {
      gap: 15px;
    }

    .home h2 {
      font-size: 48px;
    }

    .home p.small-text {
      font-size: 15px;
    }

    section {
      padding: 40px 15px;
    }
  }

  @media (max-width: 480px) {
    .section-title {
      flex-direction: column;
      align-items: flex-start;
    }

    .section-title .line {
      width: 50px;
      margin-top: 5px;
    }
  }

    .about-content {
      display: flex;
      align-items: flex-start;
      gap: 30px;
    }

    .about-text {
      flex: 1;
    }

    .about-image img {
      width: 260px;
      height: 260px;
      object-fit: cover;
      object-position: top;
      border-radius: 50%;
      border: 3px solid #64ffda;
    }



    .footer {
      font-family: "NTR", sans-serif;
      font-size: 16px;
      text-align: center;
      line-height: 1.2;
      color: #8892B0;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }

    .project-card {
    background-color: #112240;
    border-radius: 18px;
    padding: 24px;
    height: 350px;
    transition: transform 0.3s ease;
  }

  .project-card:hover {
    transform: translateY(-6px);
  }

  .project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .folder-icon {
    color: #64ffda;
  }

  .project-links a {
    margin-left: 10px;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
  }

  .project-links a:hover svg {
    width: 28px;
    height: 28px;
    color: #64ffda;
    transform: scale(1.15);
    transition: 0.2s ease;
  }


  .project-title {
    font-size: 20px;
    margin-top: 38px;
    color: #CCD6f6;
  }

  .project-description {
    font-size: 16px;
    color: #8892B0;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 55px;
  }

  .project-tech {
    font-size: 14px;
    color: #64ffDA;
  }

  @media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }

  .about-image img {
    width: 100%;
    height: auto;
    margin: 0;
  }
}

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 12px;
  }

    #projects {
    max-width: 980px;
  }

  @media (max-width: 768px) {
  .about-image img {
    width: 200px;
    height: 200px;
    margin: 20px auto;
  }

  .about-image {
    display: flex;
    justify-content: center;
  }
}
